# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.env/
.venv/

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# User-generated task file
gorevler.txt
